<template>
<div class="container">
    <div class="jumbotron">
    </div>
    <p>Este es un clasificador de análisis de emociones y sentimientos pre-entrenado en idioma español. El programa es capaz de decodificar e interpretar una frase, parrafo u oración y luego determinar que tan positiva o negativa es la información ingresada. ¡Pruébalo!</p>
     <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Descubre la emoción que refleja un texto aquí</li>
      </ol>
    <div class="best">
        <div class="row">
         <div class="col-md-8">
           <form @submit="getResponse()">
              <div class="form-group">
                <label for="exampleInputEmail1">Ingresa aquí el texto a evaluar</label>
                <textarea class="form-control" v-model="txtTexto" cols="30" rows="10" required></textarea>
                <small id="emailHelp" class="form-text text-muted">Averigua el sentimiento con el que fue escrito el texto.</small>
              </div>
              
              <button type="submit" class="btn btn-primary">Evaluemos el texto ;)</button>
              
              
           </form>
         </div>
         <div class="col-md-4"> 
          
             <strong>Vamos a evaluar el siguiente texto: </strong> {{'"'+txtTexto+'"'}}
             <div class="Resultado"> 
              <template v-if="loading==true">
                Cargando...
                <i class="fa fa-refresh fa-spin fa-3x fa-fw fa-mrbig"></i>
              </template>
              <template v-else-if="txtCoeficiente && loading == false">
                <p>El coeficiente emocional de su texto es de: {{txtCoeficiente}}, por lo tanto, podemos considerar que su texto es: <strong>{{lblSentimiento}} </strong></p> 
                 <i v-bind:class="'fa '+lblIcon+' fa-emoji-big'"></i>
                 </template>
             </div>
         </div>
        </div>
    </div>
</div>

</template>


<script>
import axios from "axios";

export default {
  name: "BestProducts",
  data() {
    return {
      response: "",
      loading: false,
      txtTexto: "",
      txtCoeficiente: "",
      lblSentimiento: "",
      lblIcon: "",
    };
  },
  methods: {

    getResponse() {
      this.loading = true;
      axios.get('http://127.0.0.1:5000/sentiment?text='+this.txtTexto)
           .then(response => {
              this.loading = false;
              this.response = response.data;
              this.txtCoeficiente = this.response.sentiment;
              this.getSentimiento(this.txtCoeficiente);
           })
           .catch(error => {
              console.log(error);
           });
    },
    getSentimiento(coeficiente){
      if(coeficiente >=0 && coeficiente <0.2){
        this.lblSentimiento = "Muy negativo";
        this.lblIcon = "fa-frown-o";
      }
      else if(coeficiente >=0.2 && coeficiente <0.4){
        this.lblSentimiento = "Negativo";
        this.lblIcon = "fa-thumbs-o-down";
      }
      else if(coeficiente >=0.4 && coeficiente <0.6){
        this.lblSentimiento = "Ni positivo ni negativo";
        this.lblIcon = "fa-meh-o";
      }
      else if(coeficiente >=0.6 && coeficiente <0.8){
        this.lblSentimiento = "Positivo";
        this.lblIcon = "fa-thumbs-o-up";
      }
      else if(coeficiente >=0.8 && coeficiente <1){
        this.lblSentimiento = "Muy positivo";
        this.lblIcon = "fa-smile-o";
      }
      
    }
  },
  created() {

  }
};
</script>

<style>

.Resultado {
  height: 50px;
  padding-top: 20px;
}

.fa-emoji-big{
  font-size: 140px;
  color: crimson;
}

.best {
  margin-bottom: 50px;
}
.jumbotron{
  background-image: url("/img/fotos/emociones.png");
  background-size: cover;
}

.fa-mrbig{
  font-size: 40px;
  color: crimson;
}


</style>
