
<template>
  <div id="app" style="margin-top: 60px;">
    <main>
     
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="nav">
  <div class="container">
    <div class="navbar-header">
      <p class="nv-title">Discover the emotion!{{" "}}<i class="fa fa-smile-o fa-mrbig2"></i></p> 
    </div>  
  </div>
</nav>
<router-view/>
     
</main>
    
<!-- Footer -->
	<section id="footer">
	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>Curso de Inteligencia Artificial EPE UPC</p>
          	<p>Abril del 2019</p>
				</div>
			
			</div>	
		
	</section>
<!-- Footer -->
</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import axios from "axios";

export default {
  data() {
    return {
    };
  },
  
  methods: {
    
  },  
};

</script>

<style lang="scss">
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./assets/css/ec.css";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import "./assets/css/personalized_style.css";



#app {
  font-family: "Titillium Web";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 111px;
}



/* ----- v CAN BE DELETED v ----- */

.demo {
	padding-top: 30px;
	padding-bottom: 50px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #ffffff;
}

.btn-demo:focus {
	outline: 0;
}

@media (max-width:992px){
#navbar1.navbar-collapse.navbars.collapsing{
 border-bottom: silver 2px dotted !important;
 padding-top: 20px;
 a {
    font-size: 14px;
    padding-left: 11px;
    text-align: left;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    &.router-link-exact-active {
      font-weight: bold;
      color: #c41212;
      background-color: #eee2e2;
    } 
  }
}


#navbar2.navbar-collapse.navbars.collapsing{
padding-top: 40px;
 a {
    padding-left: 11px;
    text-align: left;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    &::before{
      content: "> ";
    }
    &.router-link-exact-active {
      font-weight: bold;
      color: #c41212;
      background-color: #eee2e2;
    }
    &.telefono{
      color:#fff;
      background-color: #2c3e50;
    }
    
  }
}


#navbar1.collapse.navbar-collapse.show{
 border-bottom: silver 2px dotted !important;
 padding-top: 20px;
 a {
    font-size: 14px;
    padding-left: 11px;
    text-align: left;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    &.router-link-exact-active {
      font-weight: bold;
      color: #c41212;
      background-color: #eee2e2;
    } 
    &.cart::before {
      content: "Mi carrito: ";
    }
  }
}

#navbar2.collapse.navbar-collapse.show{
 padding-top: 255px;
 a {
    padding-left: 11px;
    text-align: left;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    &::before{
      content: "> ";
    }
    &.router-link-exact-active {
      font-weight: bold;
      color: #c41212;
      background-color: #eee2e2;
    }
    &.telefono{
      color:#fff;
      background-color: #2c3e50;
    }
    
  }
}
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #c41212 !important;
}

.container-fluid {
    height: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-unico {
    font-size: 13px !important;
    padding: 0 15px !important;
    margin: 5px 5px !important;
    margin-left: 0px !important;
}

html {
  position: relative;
  min-height: 100%;
}

* a {
  color: #d02031;
}

* .fa {
  font-size: 18px;
}

.buttonGreen-outline {
  width: 100%;
  color: #41b883;
  background-color: transparent;
  border-color: #41b883;
}
.buttonGreen-outline:hover {
  color: #ffffff;
  background-color: #41b883;
  border-color: #41b883;
}

.buttonGreen {
  color: #fff;
  background-color: #41b883;
}

.buttonGreen:hover {
  background-color: #42a97b;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }




section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #2c3e50 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer p {
    color: #ffffff;
    padding-top: 10px;
    font-size: 14px;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.search-control{
    font-size: 13px;
    padding: .359rem .99rem;
    height: calc(1.8em + .90rem + 7px)  !important;
    width: calc(19.8em + .90rem + 7px) !important;
}

.search-buttons {
  font-size: 13px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}



@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

@media (max-width:993px){
	.search-control{
        width: 1% !important;
}
}

.fa-mrbig2{
  font-size: 30px;
  color: crimson;
}

.nv-title{
  font-size: 20px;
  color: #2c3e50;
}

</style>
