<template>
  <div class="home-component">
    <br>
    <div class="container">
    <nav aria-label="breadcrumb">
    </nav>
    </div>
    
    <BestProducts></BestProducts>
    
  </div>
</template>
<script>
// @ is an alias to /src

import BestProducts from "@/components/products/BestProducts.vue";

export default {
  name: "home",
  components: {
    
    BestProducts,
    
  },
  methods: {
    scroll_inicio(){
      window.scrollTo(0,0);
    }
  },
  created() {
    this.scroll_inicio();
  }

};
</script>