/******************************* ESTILOS GENERALES ******************************/
.animacion {
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.transparente{
	width: 100%;
	height: 100%;
}
.sin-bordes{border: none !important;}
.sin-altas{text-transform: inherit !important;}
.sin-padding{padding: 0 !important;}
.sin-margin{margin: 0 !important;}
.padding-bottom{padding-bottom: 40px;}
.imagen-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgb(214,225,228);
}
.ocultar{display: none;}
.mostrar{display: block;}
/* Secciones */
.seccion-gris{background: rgb(243,243,243);}
.seccion-blanca{background: rgb(255,255,255);}
.secciones h1{
	text-align: center;
    padding: 0px 0 17px 0;
    margin: 6px 0;
}
.secciones h1:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: calc(50% - 35px);
	width: 70px;
	height: 3px;
	background: rgb(205,205,205);
}
.secciones p{
    color: rgb(130,132,138);
    text-align: center;
}
.secciones ul{
	color: rgb(130,132,138);
	line-height: 160%;
}
.secciones .row{margin: 0;
	padding-bottom: 30px;
}
.secciones .btn-secciones{margin: 0 0 35px 0;}
.paginador ul{
	list-style: none;
	margin:0 auto;
	padding: 0;
}
/* Paginador */
.paginador ul li{display: inline-block;vertical-align: middle;}
.paginador ul li a{
	position: relative;
	display: block;
	width: 34px;
	height: 34px;
	background-color: rgb(255,255,255);
	border: solid 1px rgb(221,221,221);
	color: rgb(62,78,89);
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	margin: 0 -2px;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.paginador .pag-ant,.paginador .pag-sig{
	font-size: 18px;
    line-height: 100%;
    padding: 5px 0 0 0;
}
.paginador ul li a:hover,.paginador ul li a:active,.paginador ul li a:focus{background-color: rgb(221,221,221)}
.paginador .active,.paginador .active:hover,.paginador .active:active,.paginador .active:focus{
	z-index: 2;
	background: rgb(0,170,241);
	color: rgb(255,255,255);
	border: solid 1px rgb(0,170,241);
}
.paginador .pag-desactivado, .paginador .pag-desactivado:hover, .paginador .pag-desactivado:active, .paginador .pag-desactivado:focus{
	opacity: 0.5;
    cursor: default;
    background: rgb(255,255,255);
}
#servicio-descripcion.secciones p{text-align: left;}
.servicio-descripcion{padding: 0;}
/* BotÃ³n AtrÃ¡s */
.ico-atras{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	float: left;
	padding-left: 25px !important;
}
.ico-atras:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 100%;
	
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.ico-adelante{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-top: 30px;
	padding-right: 25px !important;
}
.ico-adelante:before{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 100%;
	
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
/* Botones para compartir */
.botones-compartir{float: right;}
.btn-compartir{
	display: inline-block;
	text-align: center;
	background-color: rgb(86,95,102);
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.btn-compartir.btn-fb:hover{background-color: rgb(59,89,152)}
.btn-compartir.btn-tt:hover{background-color: rgb(28,183,235)}
.btn-compartir.btn-li:hover{background-color: rgb(0,123,181)}
.btn-compartir.btn-gp:hover{background-color: rgb(221,75,57)}
.outer_div2{
    background: rgb(243,243,243);
    min-height: 480px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.card-image-product{
	cursor: pointer;
}
.product-label {
    position: absolute;
    top: 8px;
    right: 8px;
}
span.new {
	padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(57, 143, 241);
    border-color: rgb(57, 143, 241);
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
}
 
#lblCartCount{
    border-radius: 100%;
    padding: 0 3px;
    vertical-align: top;
    margin-left: -10px;
}

@media(min-width: 0px){
	.secciones{padding: 50px 0;}
	.secciones h1{font-size: 21px;}
	.secciones p{font-size: 14px;margin: 15px 0 30px 0;}
	.secciones ul{font-size: 14px;}
	.secciones .btn-secciones{margin: 0 0 20px 0;}
	#vacia.secciones{padding: 30px 0;}
	.ocultar-movil{display: none;}
	.mostrar-movil{display: block;}
	.paginador {margin-top: 10px;}
	.botones-compartir span{font-size: 11px;}
	.btn-compartir{
		width: 26px;
		height: 26px;
		margin: 0 1px;
		line-height: 22px;
	}
	.btn-compartir img{width: 14px;}
	.sin-padding-left{padding: 0 !important;}
	.sin-padding-right{padding: 0 !important;}
	.jumbotron {
		padding: 3rem 1rem !important;
	}
	.card-image-product{
		width: 100%;
		height: 200px;
	}
	#card-product {
		height: 400px !important;
		width: 290px;
		margin: auto;
	}
}
@media(min-width: 425px){
	.jumbotron {
		padding: 4rem 1rem !important; 
	}
	
}
@media(min-width: 576px){
	.card-image-product{
		width: 100%;
		height: 170px;
	}
	#card-product {
		height: 380px !important;
		width: auto;
	}
}
@media(min-width: 768px){
	.secciones{padding: 70px 0;}
	.secciones h1{font-size: 28px;}
	#vacia.secciones{padding: 50px 0;}
	.ocultar-movil{display: block;}
	.mostrar-movil{display: none !important;}
	.paginador {margin-top: 20px;}
	.btn-compartir{
		width: 29px;
		height: 29px;
		margin: 0 2px;
		line-height: 25px;
	}
	.sin-padding-left{padding-left: 0 !important; padding-right: 12px !important;}
	.sin-padding-right{padding-right: 0 !important; padding-left: 12px !important;}
	.jumbotron {
		padding: 6rem 1rem !important;
	}
	.card-image-product{
		width: 100%;
		height: 100px;
	}
	#card-product {
		height: 330px !important;
	}
}
@media(min-width: 992px){
	.secciones{padding: 90px 0;}
	.secciones h1{font-size: 32px;}
	.secciones p{font-size: 16px;margin: 15px 0 45px 0;}
	.secciones ul{font-size: 16px;}
	.secciones .btn-secciones{margin: 0 0 35px 0;}
	.paginador {margin-top: 30px;}
	.botones-compartir span{font-size: 14px;}
	.btn-compartir{
		width: 31px;
		height: 31px;
		line-height: 28px;
	}
	.btn-compartir img{width: 16px;}
	.jumbotron {
		padding: 7rem 1rem !important;
	}
	.card-image-product{
		width: 100%;
		height: 145px;
	}
	#card-product {
		height: 345px !important;
	}
}
@media(min-width: 1200px){
	.secciones h1{font-size: 36px;}
	.paginador {margin-top: 40px;}
	.btn-compartir{
		width: 35px;
		height: 35px;
		line-height: 30px;
	}
	.btn-compartir img{width: 18px;}
	.jumbotron {
		padding: 8rem 1rem !important;
	}
	.card-image-product{
		width: 100%;
		height: 155px;
	}
	#card-product {
		height: 370px !important;
	}
}

/* Estilos para Botones AL */
.btn-al{
	display: inline-block;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.btn-al-rojo-solid{
	background: rgb(217,83,79);
	color: rgb(255,255,255);
	border: none;
}
.btn-al-celeste-solid{
	background: #2c3e50;
	color: rgb(255,255,255);
	border: none;
}
.btn-al-azul-solid{
	background: rgb(19,23,40);
	color: rgb(255,255,255);
	border: none;
}
.btn-al-gris-solid{
	background: rgb(170,170,170);
	color: rgb(255,255,255);
	border: none;
}
.btn-al-rojo{
	background: rgba(0,0,0,0.1);
	border: solid 1px rgb(217,83,79);
	color: rgb(217,83,79);
}
.btn-al-celeste{
	background: rgba(0,0,0,0);
	border: solid 1px #ffffff;
	color: #ffffff;
}
.btn-al-blanco{
	background: rgba(0,0,0,0.1);
	border: solid 1px rgb(255,255,255);
	color: rgb(255,255,255);
}
.btn-al-rojo:hover,.btn-al-rojo:active,.btn-al-rojo:focus{
	background: rgba(217,83,79,1);
	border: solid 1px rgb(217,83,79);
	color: rgb(255,255,255);
}
.btn-al-celeste:hover,.btn-al-celeste:active,.btn-al-celeste:focus{
	background: #13406d;
	border: solid 1px #2c3e50;
	color: rgb(255,255,255);
}
.btn-al-blanco:hover,.btn-al-blanco:active,.btn-al-blanco:focus{
	background: rgba(255,255,255,1);
	border: solid 1px rgb(255,255,255);
	color: rgb(114, 143, 154);
}
.btn-al:hover,.btn-al:active,.btn-al:focus{text-decoration: none;}
.btn-al-rojo-solid:hover,.btn-al-rojo-solid:focus,.btn-al-rojo-solid:active{
	background: rgb(234,61,56);
	color: rgb(255,255,255);
	box-shadow: inset 0px 3px 10px rgba(0,0,0,0.3);
}
.btn-al-celeste-solid:hover,.btn-al-celeste-solid:focus,.btn-al-celeste-solid:active{
	background: rgb(0,142,202);
	color: rgb(255,255,255);
	box-shadow: inset 0px 3px 10px rgba(0,0,0,0.3);
}
.btn-al-azul-solid:hover,.btn-al-azul-solid:focus,.btn-al-azul-solid:active{
	background: rgb(28,35,55);
	color: rgb(255,255,255);
	box-shadow: inset 0px 3px 10px rgba(0,0,0,0.3);
}
.btn-al-gris-solid:hover,.btn-al-gris-solid:focus,.btn-al-gris-solid:active{
	background: rgb(150,150,150);
	color: rgb(255,255,255);
	box-shadow: inset 0px 3px 10px rgba(0,0,0,0.3);
}

@media(min-width: 0px){
	.btn-al-sm{padding: 5px 10px;font-size: 10px;}
	.btn-al-md{padding: 7px 11px;font-size: 10px;}
	.btn-al-lg{padding: 8px 18px;font-size: 10px;}
}
@media(min-width: 768px){
	.btn-al-sm{padding: 6px 11px;font-size: 11px;}
	.btn-al-md{padding: 7px 13px;font-size: 11px;}
	.btn-al-lg{padding: 10px 20px;font-size: 11px;}
}
@media(min-width: 992px){
	.btn-al-sm{padding: 7px 12px;font-size: 11px;}
	.btn-al-md{padding: 8px 15px;font-size: 12px;}
	.btn-al-lg{padding: 12px 22px;font-size: 12px;}
}
@media(min-width: 1200px){
	.btn-al-sm{padding: 8px 14px;font-size: 12px;}
	.btn-al-md{padding: 10px 17px;font-size: 14px;}
	.btn-al-lg{padding: 14px 24px;font-size: 14px;}
}

/* Back to Top */
.back-to-top {
    cursor: pointer;
    position: fixed;
    z-index: 3;
    right: 20px;
    display:none;
}
.back-to-top .btn-al{display: inline-flex;}

/* Estilos para Widgets */
.widget{
	font-family: "Montserrat";
	position: absolute;
	z-index: 3;
	top: 240px;
	right: -110px;
	width: 163px;
}
.widget a{width: 100%;height: 100%;padding: 10px;}
.widget .follow-scroll{width: 100%;display: inline-flex;box-shadow: 2px 2px 10px rgba(28,53,79,0.5);}
.widget-cotizacion{position: relative;}
.widget-cotizacion-texto,.widget-cotizacion-icono{float: left;display: inline-block;text-transform: initial;vertical-align: middle;}
.widget-cotizacion-texto span{
    display: block;
    text-transform: uppercase;
}
#servicio-contenido{position: relative;}
.widget-navegador{
	position: absolute;
	z-index: 2;
	top: 0;
	left: -40px;
	margin: 0 0 20px 0;
	background-color: rgb(12,26,39);
    padding: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}
.widget-navegador ul{margin: 0;padding: 0;}
.widget-navegador ul li{
	list-style: none;
    padding-bottom: 28px;
    position: relative;
}
.widget-navegador ul li:after{
	content: '';
    border-left: 2px dotted rgb(37,79,120);
    width: 0;
    height: 14px;
    bottom: 7px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    position: absolute;
}
.widget-navegador ul li:last-child {
    padding-bottom: 0;
}
.widget-navegador ul li:last-child:after{display:none}
.widget-navegador ul li a{
    display: block;
    width: 34px;
    height: 34px;
    border: 2px solid rgb(37,79,120);
    line-height: 30px;
    text-align: center;
    color: rgb(37,79,120);
    font-family: "Montserrat",Arial;
    font-size: 15px;
    font-weight: 900;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.widget-navegador ul li a:hover,.widget-navegador ul li a:focus,.widget-navegador ul li a:active{
	border-color: rgb(0,170,241);
    color: rgb(0,170,241);
}
.widget-navegador ul li>.tooltip{margin-left: 15px;}
.widget-navegador ul li>.tooltip>.tooltip-arrow{border-right-color: rgb(12,26,39);}
.widget-navegador ul li>.tooltip>.tooltip-inner{background-color: rgb(12,26,39);}
.widget-cotitrack{
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	-webkit-box-shadow: 0px 0px 50px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 50px rgba(0,0,0,0.7);
}
.btn-cotizacion,.btn-extranet{
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
}
.btn-cotizacion{left: 0;}
.btn-extranet{right: 0;}
.widget-cotitrack-texto {
    max-width: 110px;
    line-height: 110%;
}
.widget-cotitrack-texto, .widget-cotitrack-icono {
    display: inline-block;
    vertical-align: middle;
    font-family: "Montserrat",Arial;
    font-size: 11px;
}
.widget-cotitrack-icono img{height: 26px;}

@media(min-width: 0px){
	.widget{display: none;}
	.widget-cotitrack{display: block;}
	.widget-navegador{display: none;}
	.widget-cotizacion-texto{margin:0;}
	.back-to-top {bottom: 50px;}
}
@media(min-width: 768px){
	.widget{display: block;}
	.widget-cotitrack{display: none;}
	.widget-cotizacion-texto{font-size: 11px;}
	.widget-cotizacion-texto span{margin-top: -4px;font-size: 12px;}
	.widget-cotizacion-icono{margin: 0 20px 0 8px}
	.widget-cotizacion-icono img{width: 22px;}
	.widget-navegador{display: block;}
	.back-to-top {bottom: 20px;}
}
@media(min-width: 992px){
	.widget-cotizacion-texto{font-size: 12px;}
	.widget-cotizacion-texto span{font-size: 13px;}
	.widget-cotizacion-icono{margin: 0 14px 0 8px}
	.widget-cotizacion-icono img{width: 26px;}
}
@media(min-width: 1200px){
	.widget-cotizacion-texto{font-size: 13px;}
	.widget-cotizacion-texto span{font-size: 14px;}
	.widget-cotizacion-icono{margin: 0 10px 0 8px}
}

/* Estilos para Subitems */
#subitems{
	position: absolute;
	width: 100%;
	height: 10px;
	margin-top: -120px;
	background: rgba(0,255,0,0.0);
}
.subitem1{top: 1660px;}
.subitem2{top: 1730px;}
.subitem3{top: 520px;}
.subitem4{top: 1120px;}


/************************** SLIDER PRINCIPAL - SWIPER SLIDER **************************/

.slider-principal{
	background: rgb(7,30,54);
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}
.botonera-sombra{
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	
	background-size: 100% 100%;
	mix-blend-mode: multiply;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.slider-principal .swiper-slide:before{
    content: "";
    position: absolute;
    z-index: 0;
    top: -1px;
    left: 0;
    display: block;
    width: 100%;
    
    background-size: 100% 100%;
    mix-blend-mode: multiply;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.swiper-slide{
	background-color:rgba(7,30,54,0.4);
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.banner-formato{width: 100%;}
.slide-1{
	
	background-size: cover;
}
.slide-2{
	
	background-size: cover;
}
.slide-3{
	
	background-size: cover;
}
.slide-4{
	
	background-size: cover;
}
.st-contenido{
	position: absolute !important;
	height: 100%;
}
.container.st-contenido{
	max-width: 100%;
}
.st{
	position: absolute;
	display: block; 
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.st-centro{left: calc(50% - 300px);}
.st-izquierda{left: 150px;}
.st-derecha{right: 165px;}
.st h1{
	font-family:"Montserrat";
	line-height:100%;
	font-weight:700;
	color:rgb(255,255,255);
	text-shadow:0px 3px 7px rgba(17,40,62,0.7);
}
.st h2{
	line-height:120%;
	font-weight: normal;
	text-transform: inherit;
	color:rgb(246, 249, 250);
	text-shadow:0px 2px 2px rgba(17,40,62,1);
}
.slider-principal.swiper-container-horizontal > .swiper-pagination-bullets {bottom: 70px;}
.slider-principal .swiper-pagination-bullet{
	width: 10px;
	height: 10px;
	background: rgb(255,255,255);
	border: rgb(111,111,111) 1px solid;
}
.slider-principal .swiper-pagination-bullet-active {
	background: rgb(28,192,247);
	border: rgb(28,192,247) 1px solid;
}
.swiper-button-prev,
.swiper-button-next {
	width: 30px;
	height: 30px;
	-webkit-opacity: 0.4;
	-moz-opacity: 0.4;
	-ms-opacity: 0.4;
	-o-opacity: 0.4;
	opacity: 0.4;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
	}
.swiper-button-prev:hover,.swiper-button-next:hover{
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	-ms-opacity: 0.7;
	-o-opacity: 0.7;
	opacity: 0.7;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	
	left: 10px;
	right: auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	
	right: 10px;
	left: auto;
}
.slider-principal .btn-al-celeste {background: rgba(21,33,49,0.3);}
.slider-principal .btn-al-celeste:hover {background: rgb(0,170,241);}
.datos-al{
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(9,11,17,0.8);
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.datos-al ul{
	width: 100%;
	text-align: center;
	display: block;
	list-style: none;
	margin: 0;
}
.datos-al ul li{
	display: inline-block;
	text-align: left;
	border-right: solid 1px rgba(255,255,255,.2);
}
.datos-al-icono, .datos-al-texto{float: left;}
.datos-al-texto h3{
	padding: 0;
	font-family: "Montserrat";
	font-weight: 600;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
}
.datos-al-texto span{
	display: block;
	padding: 0;
	font-family: "Lato";
	font-weight: normal;
}
.datos-al-texto span a,
.datos-al-texto span a:hover,
.datos-al-texto span a:focus,
.datos-al-texto span a:active{color: rgba(255,255,255,0.8);text-decoration: none;}

@media (min-width: 0px){
	.botonera-sombra{display: none;}
	.slider-principal .swiper-slide:before{height: 110px;}
	.banner-formato{height: 300px;}
	.st{width: 100%;bottom: calc(50% - 80px);}
	.st-centro{left: 0px;text-align: center;}
	.st-izquierda{left: 0px;text-align: center;}
	.st-izquierda h2{float: none;}
	.st-derecha{right: 0px;text-align: center;}
	.st-derecha h2{float: none;}
	.st h1{
		display: block;
		margin: 0 0 20px 0;
		padding: 0 35px;
		width: 100%;
		font-size: 24px;
	}
	.st h2{
		margin: 0 auto 20px auto;
		padding: 0 35px;
		width: 100%;
		font-size: 12px;
	}
	.st .btn-basc{margin: 0 5px;}
	.slider-principal.swiper-container-horizontal > .swiper-pagination-bullets {bottom: 0px;}
	.datos-al{display: none;}
}
@media (min-width: 768px){
	.botonera-sombra{display: block;height: 160px;}
	.slider-principal .swiper-slide:before{height: 160px;}
	.banner-formato{height: auto;}
	.st{width: 320px;bottom: calc(50% - 90px);}
	.st-centro{left: calc(50% - 160px);}
	.st-izquierda{left: 80px;text-align: left;}
	.st-izquierda h2{float: left;}
	.st-derecha{right: 85px;text-align: right;}
	.st-derecha h2{float: right;}
	.st h1{width: 100%;padding: 0;font-size:28px;}
	.st h2{width: 80%;padding: 0;font-size:12px;}
	.slider-principal.swiper-container-horizontal > .swiper-pagination-bullets {bottom: 70px;}
	.datos-al{display: block;height: 65px;}
	.datos-al ul{padding: 15px 0 0 0;}
	.datos-al ul li{padding: 0 8px;}
	.datos-al-icono{margin-right: 4px;}
	.datos-al-icono img {width: 30px;}
	.datos-al-texto h3{
		margin: 2px 0 0 0;
		font-size: 11px;
	}
	.datos-al-texto span{
		margin: 2px 0 0 0;
		font-size: 12px;
	}
}
@media (min-width: 992px){
	.st{width: 450px;bottom: calc(50% - 120px);}
	.st-centro{left: calc(50% - 225px);}
	.st-izquierda{left: 90px;}
	.st-derecha{right: 100px;}
	.st h1{margin:0 0 30px 0;font-size:40px;}
	.st h2{font-size:16px;}
	.slider-principal.swiper-container-horizontal > .swiper-pagination-bullets {bottom: 90px;}
	.datos-al{height: 85px;}
	.datos-al ul{padding: 20px 0 0 0;}
	.datos-al ul li{padding: 0 20px;}
	.datos-al-icono{margin-right: 10px;}
	.datos-al-icono img {width: auto;}
	.datos-al-texto h3{
		margin: 4px 0 0 0;
		font-size: 12px;
	}
	.datos-al-texto span{
		margin: 4px 0 0 0;
		font-size: 13px;
	}
	iframe.lightwidget-widget {
		height: 230px;
	}
}
@media (min-width: 1200px){
	.st{width: 550px;bottom: calc(50% - 140px);}
	.st-centro{left: calc(50% - 275px);}
	.st-izquierda{left: 120px;}
	.st-derecha{right: 130px;}
	.st h1{font-size:50px;}
	.st h2{font-size:20px;}
	.slider-principal.swiper-container-horizontal > .swiper-pagination-bullets {bottom: 100px;}
	.datos-al{height: 95px;}
	.datos-al ul{padding: 25px 0 0 0;}
	.datos-al ul li{padding: 0 50px;}
	.datos-al-icono{margin-right: 15px;}
	.datos-al-texto h3{
		margin: 4px 0 0 0;
		font-size: 13px;
	}
	.datos-al-texto span{
		margin: 4px 0 0 0;
		font-size: 14px;
	}
	iframe.lightwidget-widget {
		height: 220px;
	}
}
@media (min-width: 1500px){
	.st{width: 700px;bottom: calc(50% - 180px);}
	.st-centro{left: calc(50% - 350px);}
	.st-izquierda{left: 150px;}
	.st-derecha{right: 160px;}
	.st h1{font-size:65px;}
	.st h2{font-size:23px;}
}

/************************** HOME ***********************************/

/* Servicios del Home */
#servicios .servicios-home{
	position: relative;
	display: inline-block;
    background: rgb(255,255,255);
    overflow: hidden;
    width: 100%;
    margin: 12px auto;
}
#servicios .servicios-home:hover{box-shadow: 0 0 40px rgba(0,0,0,0.1);}
#servicios .servicios-home .servicios-home-foto{
	position: relative;
	display: inline-block;
	width: 100%;
}
#servicios .servicios-home .servicios-home-foto:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,170,241,0);
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
#servicios .servicios-home:hover .servicios-home-foto:after{background: rgba(0,170,241,0.6);}
#servicios .servicios-home .servicios-home-texto{
    position: relative;
    display: inline-block;
	background: #f8f9fa;
    padding: 25px 30px;
    height: 100%;
    box-shadow: 0 0 70px rgba(12, 50, 86, 0.8);
}
#servicios .servicios-home .servicios-home-texto:before{
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 4px);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
   
}
#servicios .servicios-home:hover .servicios-home-texto{margin-top: -20px;padding-bottom: 45px;}
#servicios .servicios-home .servicios-home-texto h2{
    margin: 0px 0 3px 0;
    padding: 0px 0 10px 0;
	color: rgb(84,88,97);
	text-align: center;
}
#servicios .servicios-home .servicios-home-texto h2:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: calc(50% - 25px);
	width: 50px;
	height: 2px;
}
#servicios .servicios-home .servicios-home-texto p{
	display: inline-block;
	margin: 10px 0 0 0;
	font-size: 14px;
	text-align: center;
}
#servicios .servicios-home .servicios-home-boton{
	position: absolute;
    width: 100%;
	text-align: center;
	background: transparent url(../../../public/img/sh-fnd-boton.png) repeat-x center top;
    
}
#servicios .servicios-home:hover .servicios-home-boton{bottom: 0px;}

@media(min-width: 0px){
	#servicios .servicios-home{max-width: 350px;height: auto;}
	#servicios .servicios-home .servicios-home-foto{height: auto;}
	#servicios .servicios-home .servicios-home-texto{padding: 25px;}
	#servicios .servicios-home .servicios-home-texto h2{font-size: 16px;}
	#servicios .servicios-home .servicios-home-boton{bottom: -110px;height: 110px;padding: 60px 0 0 0;}
}
@media(min-width: 768px){
	#servicios .servicios-home{height: 480px;}
	#servicios .servicios-home .servicios-home-foto{height: 260px;}
	#servicios .servicios-home .servicios-home-texto{padding: 25px 30px;}
	#servicios .servicios-home .servicios-home-boton{bottom: -120px;height: 120px;}
}
@media(min-width: 992px){
	#servicios .servicios-home{height: 490px;}
	#servicios .servicios-home .servicios-home-foto{height: 240px;}
	#servicios .servicios-home .servicios-home-texto{padding: 25px;}
	#servicios .servicios-home .servicios-home-texto h2{font-size: 14px;}
	#servicios .servicios-home .servicios-home-boton{bottom: -130px;height: 130px;padding: 70px 0 0 0;}
}
@media(min-width: 1200px){
	#servicios .servicios-home{height: 480px;}
	#servicios .servicios-home .servicios-home-foto{height: 240px;}
	#servicios .servicios-home .servicios-home-texto{padding: 25px 30px;}
	#servicios .servicios-home .servicios-home-texto h2{font-size: 17px;}
	#servicios .servicios-home .servicios-home-boton{bottom: -160px;height: 160px;padding: 80px 0 0 0;}
}

/* Widget de CotizaciÃ³n */
#cotizacion .row{margin: 0;}
#cotizacion h1{
	display: table-cell;
	vertical-align: bottom;
	padding: 0 0 15px 0;
	color: rgb(255,255,255);
	line-height: 100%;
}
#cotizacion h1:after{
	content: "";
	position: absolute;
	bottom: 0;
	width: 50px;
	height: 3px;
}
.cotizacion-contenido h1:after{background: rgb(255,255,255);}
.extranet-contenido h1:after{background: rgb(217,83,79);}
#cotizacion p{
	margin: 0;
	color: rgb(255,255,255);
	font-size: 14px;
}
#cotizacion .btn-al-md{min-width: 200px; padding: 12px;}
.cotitrack-fondo{position: relative;display: inline-block;height: 100%;}
.cotizacion-fondo{
	
	background-size: cover;
}
.extranet-fondo{
	
	background-size: cover;
}
.cotizacion-fondo:after,.extranet-fondo:after{
    content: "";
    position: absolute;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cotitrack-contenido{position: relative;z-index: 1;}
.cotitrack-titulo{display: table;width: 100%;}
.cotitrack-texto{
	display: block;
	width: 100%;
	margin: 16px 0;
}
@media(min-width: 0px){
	#cotizacion h1{font-size: 21px;}
	#cotizacion p{font-weight: normal;line-height: 140%;}
	.cotitrack-contenido{width: 100%;}
	.cotizacion-contenido{float: inherit; text-align: center;}
	.extranet-contenido{float: inherit; text-align: center;}
	.cotizacion-contenido h1:after{right: calc(50% - 25px);}
	.extranet-contenido h1:after{left: calc(50% - 25px);}
	.cotitrack-fondo{padding: 25px 20px;}
	.cotizacion-fondo:after{background: rgb(217,83,79);}
	.extranet-fondo:after{background:#2c3e50;}
	.cotitrack-titulo{height: auto;}
	.cotitrack-texto{height: auto;overflow:visible;}
}
@media(min-width: 768px){
	#cotizacion h1{font-size: 24px;}
	#cotizacion p{font-weight: bold;line-height: 175%;}
	.cotitrack-contenido{width: 250px;}
	.cotizacion-contenido{float: right; text-align: right;}
	.extranet-contenido{float: left; text-align: left;}
	.cotizacion-contenido h1:after{right: 0;}
	.extranet-contenido h1:after{left: 0;}
	.cotitrack-fondo{padding: 30px 45px;}
	.cotizacion-fondo:after{background: rgb(217,83,79);}
	.extranet-fondo:after{background:#2c3e50;}
	.cotitrack-titulo{height: 90px;}
	.cotitrack-texto{height: 106px;overflow: auto;}
}
@media(min-width: 992px){
	#cotizacion h1{font-size: 27px;}
	.cotitrack-fondo{padding: 35px 55px;}
	.cotitrack-titulo{height: 110px;}
}
@media(min-width: 1200px){
	.cotitrack-fondo{padding: 40px 55px;}
}


/* Noticias */
#noticias.secciones p{margin-bottom: 25px;}
.noticias-grupo{margin: 40px 0 0 0;}
.noticias{
	position: relative;
	display: inline-block;
	margin:15px auto;
	background: rgb(245,245,245);
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.noticias:hover{box-shadow: 0 0 40px rgba(0,0,0,0.2);}
.noticias h2{
	display: table-cell;
	vertical-align: bottom;
	width: 100%;
	padding: 0 0 10px 0;
	color: #545861;
	text-transform: inherit;
}
.noticias h2:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 25px;
	height: 2px;
	background: rgb(0,170,241);
}
#noticias.secciones .noticias p{
	width: 100%;
	margin: 0;
	font-size: 14px;
	line-height: 140%;
	text-align: left;
}
.noticias-foto,.noticias-contenido{display: inline-block;float: left;}
.noticias-foto{overflow: hidden;}
.noticias .noticias-foto img{
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.noticias:hover .noticias-foto img{
	transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.noticias-contenido{
	height: 100%;
	text-align: left;
}
.noticias-titulo{display: table;}
.noticias-texto{
	width: 100%;
	margin: 10px 0 0 0;
	overflow: auto;
}
.noticias-boton{
	position: absolute;
	bottom: 0;
	right: 0;
}
#noticias.secciones .noticias-carrusel.owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 5px;
    background: rgb(137,152,147);
    border-radius: 0px;
}
#noticias.secciones .noticias-carrusel.owl-theme .owl-dots .owl-dot.active span,
#noticias.secciones .noticias-carrusel.owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(0,170,241);
}

@media(min-width: 0px){
	.noticias{max-width: 350px;height: auto;}
	.noticias h2{font-size: 14px;}
	.noticias-foto{width: 100%;height: auto;}
	.noticias-contenido{width: 100%;padding: 25px 25px 40px 25px;}
	.noticias-titulo{height: auto;}
	.noticias-texto{height: auto;}
}
@media(min-width: 768px){
	.noticias{max-width: 100%;height: 180px;}
	.noticias h2{font-size: 16px;}
	.noticias-foto{width: 250px;height: 100%;}
	.noticias-contenido{width: calc(100% - 250px)}
	.noticias-titulo{height: 50px;}
	.noticias-texto{height: 100px;}
}
@media(min-width: 992px){
	.noticias{height: 220px;}
	.noticias h2{font-size: 14px;}
	.noticias-foto{width: 220px;}
	.noticias-contenido{width: calc(100% - 220px)}
	.noticias-titulo{height: 30px;}
	.noticias-texto{height: 120px;}
}
@media(min-width: 1200px){
	.noticias{height: 230px;}
	.noticias h2{font-size: 17px;}
	.noticias-foto{width: 290px;}
	.noticias-contenido{width: calc(100% - 290px)}
	.noticias-titulo{height: 50px;}
	.noticias-texto{height: 100px;}
}

/* Nosotros */
#nosotros{}
.nosotros-bloque{height: 100%;}
.nosotros-contenido{margin: 0 auto;}
.nosotros-foto{
	width: 100%;
	height: 100%;
}
#nosotros h1,#nosotros h3{text-align: left;}
#nosotros h1:after{left: 0;background: rgb(0,170,241);}
#nosotros h3{font-size: 16px;padding: 0 0 10px 0;}
#nosotros h3:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 3px;
	background: rgb(0,170,241);
}
#nosotros p{
	margin: 15px 0;
	font-size: 14px;
	text-align: justify;
}

@media(min-width: 0px){
	.nosotros-bloques{height: auto;}
	.nosotros-contenido{max-width: 100%;padding: 50px;}
	.nosotros-contenido .row{display: none;}
	#nosotros .btn-al{margin: 0;}
}
@media(min-width: 768px){
	.nosotros-contenido{max-width: 100%;padding: 50px}
	.nosotros-contenido .row{display: block;}
	#nosotros .btn-al{margin: 0 0 40px 0;}
}
@media(min-width: 992px){
	.nosotros-bloques{height: 640px;}
	.nosotros-contenido{max-width: 680px;padding: 50px 40px 0 55px;}
}
@media(min-width: 1200px){
	.nosotros-bloques{height: 600px;}
	.nosotros-contenido{max-width: 680px;padding: 60px 40px 0 55px;}
}

/* Grupo Transmeridian */
#grupo{
	
	background-size: cover;
}
#grupo a {display: block;}
.gt-descripcion p{
    margin: 0;
    text-align: justify;
    line-height: 170%;
    color: rgb(255,255,255);
}
.gt-bloques {
    display: table;
    height: auto;
}
.gt-bloque {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.gt-logos{
	display: table;
	width: 100%;
	height: 115px;
	text-align: center;
}
.gt-logo{
	display: table-cell !important;
	vertical-align: middle;
}
.gt-logo img {
    width: auto !important;
    max-width: 100%;
	margin: 0 auto;
}
#grupo.secciones .gt-carrusel.owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 5px;
    background: rgb(137,152,147);
    border-radius: 0px;
}
#grupo.secciones .gt-carrusel.owl-theme .owl-dots .owl-dot.active span,
#grupo.secciones .gt-carrusel.owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(0,170,241);
}

@media(min-width: 0px){
	.gt-descripcion{margin: 0;}
	.gt-descripcion img{width: 250px;max-width: 100%}
	.gt-descripcion p{font-size: 14px;padding: 30px 0 0 20px;}
	.gt-bloques{display: none;}
	.gt-carrusel{display: block;}
	.gt-bloque {float: left;}
	.gt-bloque a {margin: 15px 0px;}
	.gt-bloque a img{max-width: 100%;height: 35px;}
}
@media(min-width: 768px){
	.gt-descripcion img{width: 300px;}
	.gt-descripcion p{padding: 30px 45px 30px 60px;}
	.gt-bloque {float: inherit;}
	.gt-bloque a {margin: 15px 35px;}
	.gt-bloque a img{height: 40px;}
}
@media(min-width: 992px){
	/* .gt-descripcion{margin: 30px 0 0 0;} */
	.gt-descripcion img{width: 320px;}
	.gt-descripcion p{padding: 30px 45px 0 70px;}
	.gt-bloques{display: block;}
	.gt-carrusel{display: none !important;}
	.gt-bloque a {margin: 25px 0;}
}
@media(min-width: 1200px){
	/* .gt-descripcion{margin: 40px 0 0 0;} */
	.gt-descripcion img{width: 376px;}
	.gt-descripcion p{font-size: 16px;}
	.gt-bloque a {margin: 26px 0;}
	.gt-bloque a img{height: 50px;}
}

/* Confian en Nosotros */
#confian{}
#confian.secciones {padding: 75px 0;}
#confian.secciones p{margin: 15px 0;}
#confian.secciones .carrusel-clientes.owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 5px;
    background: rgb(137,152,147);
    border-radius: 0px;
}
#confian.secciones .carrusel-clientes.owl-theme .owl-dots .owl-dot.active span,
#confian.secciones .carrusel-clientes.owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(0,170,241);
}
.clientes-logos{
	display: table;
	width: 100%;
	height: 115px;
	text-align: center;
}
.logo-cliente{
	display: table-cell;
	vertical-align: middle;
}
.logo-cliente img {
    width: auto !important;
    max-width: 100%;
	margin: 0 auto;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
	-webkit-filter: grayscale(100%) opacity(70%);
    filter: grayscale(100%) opacity(70%);
}
.logo-cliente:hover img {
	-webkit-filter: none;
    filter: none;
}

/* Pie de PÃ¡gina */
#footer{
	background-size: cover;
}
.pie-nosotros{margin: 0 0 50px 0;}
.pie-nosotros img{width: auto;max-width: 100%;}
.pie-nosotros p{
	margin: 0;
    font-size: 14px;
    text-align: justify;
    line-height: 170%;
}
.pie-enlaces h3{
	margin:2px 0 17px -5px;
	padding: 0 0 14px 0;
	font-weight: 600;
}
.pie-enlaces h3:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 2px;
	background: rgb(0,170,241);
}
.pie-enlaces h3 a{color: rgb(255,255,255);}
.pie-enlaces ul{
	margin: 0 0 17px -5px;
	padding: 0;
	list-style: none;
}
.pie-enlaces ul li{
	display: flex;
	padding: 0 0 0 6px;
}
.pie-enlaces ul li a{
	width: 100%;
	padding: 9px;
	font-size: 14px;
	color: rgb(151,153,159);
	border-bottom: solid 1px rgba(151,153,159,0.2);
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.pie-enlaces ul li a:hover,.pie-enlaces ul li a:active,.pie-enlaces ul li a:focus{color: rgb(0,170,241);}
.pie-datos{
	padding: 30px 0;
	background: rgba(9,11,17,0.8);
	border-top: solid 1px rgba(151,153,159,0.2);
}
.pie-copyright p{margin: 0;}
.pie-copyright a{color: rgb(0,170,241);}
.pie-desarrollador{text-align: center;}
.pie-desarrollador p{margin: 0}

@media(min-width: 0px){
	#footer.secciones{padding: 40px 0 0 0;}
	#footer .row{margin: 0;}
	.pie-nosotros img{margin: 0 auto;}
	.pie-nosotros p{padding: 20px 0 0 0;}
	.pie-enlaces .esconder-movil{display: none;}
	.pie-enlaces h3{font-size: 12px;}
	.pie-copyright p{font-size: 12px;padding: 20px 0;}
	.pie-desarrollador{float: inherit;}
	.pie-desarrollador p,.pie-desarrollador .logo-vyz{display: block;}
	.pie-desarrollador p{font-size: 12px;padding: 0 0 0 0;}
	.pie-desarrollador img {margin: 10px 0 40px 0;}
}
@media(min-width: 768px){
	#footer.secciones{padding: 90px 0 0 0;}
	#footer .row{margin: 0 0 25px 0;}
	.pie-enlaces .esconder-movil{display: block;}
	.pie-enlaces h3{font-size: 15px;}
	.pie-copyright p{font-size: 14px;}
	.pie-desarrollador p,.pie-desarrollador .logo-vyz{display: inline-block;}
	.pie-desarrollador p{font-size: 14px;padding: 20px 20px 0 0;}
	.pie-desarrollador img {margin: -18px 0 0 0;}
}
@media(min-width: 992px){
	.pie-nosotros img{margin: -30px 0 0 0;}
	.pie-nosotros p{padding: 20px 0 0 40px;}
	.pie-copyright p{padding: 20px 0 0 0;}
	.pie-desarrollador{float: right;}
}
@media(min-width: 1200px){
	
}

/******************************* SERVICIOS *********************************/

/* Foto de Portada */
#portada{
	padding: 0;
	text-align: center;
}
.portada-foto{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
}
.portada-foto::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(31,47,63,0.3);
	mix-blend-mode: multiply;
}
.portada-servicios-corte{
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.portada-servicios-corte img{width: 100%;height: 100%;}
.portada-contenido{
	position: absolute;
	z-index: 1;
	width: calc(100% - 30px);
	height: 100%;
	-webkit-text-shadow: 0 4px 10px rgba(0,0,0,0.7);
	-moz-text-shadow: 0 4px 10px rgba(0,0,0,0.7);
	-ms-text-shadow: 0 4px 10px rgba(0,0,0,0.7);
	-o-text-shadow: 0 4px 10px rgba(0,0,0,0.7);
	text-shadow: 0 4px 10px rgba(0,0,0,0.7);
}
.portada-contenido h1{color: rgb(255,255,255);}
.portada-contenido ul{
	display: block;
	padding: 0;
	margin: 0 auto;
	list-style: none;
	text-transform: uppercase;
}
.portada-contenido ul li{
	position: relative;
    display: inline-block;
    padding: 0px 8px 0 2px;
	font-weight: 600;
	color: rgb(0,170,241);
}
.portada-contenido ul li:after {
    content: "/";
    position: absolute;
    right: 0;
    color: rgb(255,255,255);
}
.portada-contenido ul li.sin-division:after {content: "";}
.portada-contenido ul li a{color: rgb(255,255,255);}
.portada-contenido ul li a:hover{text-decoration: underline;}

/* DescripciÃ³n del Servicio */
#servicio-descripcion{background: rgb(255,255,255);}
#servicio-descripcion.secciones p{text-align: left;}
.servicio-descripcion{padding: 0;}
.ico-scrolldown{padding-right: 32px;}
.ico-scrolldown:before{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}

.ico-scrolldown-celeste:hover:before,
.ico-scrolldown-celeste:focus:before,


.ico-scrolldown-blanco:hover:before,
.ico-scrolldown-blanco:focus:before,

/* Ventajas y Beneficios */
.ventajas-contenido{
    max-width: 750px;
    margin: 0 auto;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.ventajas-contenido h2{
	color: rgb(255,255,255);
	padding: 0 0 10px 0;
}
.ventajas-contenido h2:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 70px;
	height: 3px;
	background: rgb(0,170,241);
}
.ventajas-contenido a{color: rgb(0,170,241);}
.ventajas-contenido a:hover{text-decoration: underline;}
.ventajas-contenido ul{
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.ventajas-contenido ul>li{
	
	background-repeat: no-repeat;
	background-position: left 11px;
	margin: 0;
	color: rgb(255,255,255);
}
.ventajas-contenido ul>li ul{margin: 10px 0 0 0;}

.carrusel-ventajas{
	width: 100%;
}
.ventajas-galeria-carrusel,.carrusel-ventajas,
.carrusel-ventajas .owl-stage-outer,.carrusel-ventajas .owl-stage,
.carrusel-ventajas .owl-item,.carrusel-ventajas .item{
	height: 100%;
}
#ventajas .carrusel-ventajas.owl-theme .owl-dots{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}
#ventajas .carrusel-ventajas.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 5px;
    background: rgb(255,255,255);
    border-radius: 0px;
}
#ventajas .carrusel-ventajas.owl-theme .owl-dots .owl-dot.active span,
#ventajas .carrusel-ventajas.owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(0,170,241);
}
.carrusel-ventajas:after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background-repeat:  repeat-x; 
    background-position: center top;
    background-size: 100% 100%;
    z-index: 0;
    mix-blend-mode: multiply;
    pointer-events: none;
}
.scrolldown-comprende {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 50%;
}

/* Servicios que Comprende */
#comprende h2{padding: 0 0 10px 0;}
#comprende h2:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: calc(50% - 35px);
	width: 70px;
	height: 3px;
	background: rgb(205,205,205);
}
.servicios-comprende-fotos{width: 100%;margin: 0 auto;}

@media(min-width: 0px){
	#portada{height: 240px;}
	.portada-servicios-corte{height: 20px}
	.portada-contenido{padding: 70px 0 0 0;}
	.portada-contenido h1{font-size: 23px;}
	.portada-contenido ul li{font-size: 10px;}
	#servicio-descripcion.secciones{padding: 30px 0;}
	#servicio-descripcion.secciones p{font-size: 16px;}
	.servicio-descripcion{background:transparent;}
	#ventajas{height: auto;}
	#ventajas .row{
		background: rgb(12,26,39);
		margin: 0;
		display: block;
	}
	#ventajas .row > [class*='col-']{
		display: block;
	  	flex-direction: row;
	}
	.ventajas-contenido{padding: 30px 30px 90px 30px;}
	.ventajas-contenido h2{font-size: 16px;}
	.ventajas-contenido ul>li{
		padding: 4px 10px 4px 20px; 
		font-size: 14px;
	}
	#ventajas .carrusel-ventajas.owl-theme .owl-dots{bottom: 0;}
	.carrusel-ventajas:after {height: 30px;}
	.scrolldown-comprende { margin: 0 0px 0 -65px;}
	#comprende h2{font-size: 16px;}
	.servicios-comprende-fotos{max-width: 350px;}
}
@media(min-width: 768px){
	#portada{height: 420px;}
	.portada-servicios-corte{height: 30px}
	.portada-contenido{padding: 190px 0 0 0;}
	.portada-contenido h1{font-size: 36px;}
	.portada-contenido ul li{font-size: 11px;}
	#servicio-descripcion.secciones{padding: 50px 0;}
	#servicio-descripcion.secciones p{font-size: 18px;}
	.servicio-descripcion{
		
		background-size: 60px auto;
	}
	#ventajas .row{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	#ventajas .row > [class*='col-']{
		display: flex;
	  	flex-direction: column;
	}
	.ventajas-contenido{padding: 40px 30px 60px 30px;}
	.ventajas-contenido h2{font-size: 20px;}
	.ventajas-contenido ul>li{
		padding: 4px 10px 4px 20px; 
		font-size: 14px;
	}
	#ventajas .carrusel-ventajas.owl-theme .owl-dots{bottom: 10px;}
	.carrusel-ventajas:after {height: 50px;}
	#comprende h2{font-size: 20px;}
	.servicios-comprende-fotos{max-width: 500px;}
}
@media(min-width: 992px){
	#portada{height: 500px;}
	.portada-servicios-corte{height: 40px}
	.portada-contenido{padding: 240px 0 0 0;}
	.portada-contenido h1{font-size: 42px;}
	.portada-contenido ul li{font-size: 12px;}
	#servicio-descripcion.secciones p{font-size: 22px;}
	.servicio-descripcion{
		
		background-size: 90px auto;
	}
	.ventajas-contenido{padding: 60px 40px 80px 40px;}
	.ventajas-contenido h2{font-size: 22px;}
	.ventajas-contenido ul>li{
		padding: 5px 10px 5px 20px; 
		font-size: 15px;
	}
	.scrolldown-comprende {margin: 0 0px 0 -70px;}
	#comprende h2{font-size: 24px;}
}
@media(min-width: 1200px){
	#portada{height: 520px;}
	.portada-servicios-corte{height: 50px}
	.portada-contenido{padding: 260px 0 0 0;}
	.portada-contenido h1{font-size: 45px;}
	#servicio-descripcion.secciones{padding: 70px 0;}
	#servicio-descripcion.secciones p{font-size: 24px;}
	.servicio-descripcion{
		
		background-size: 140px auto;
	}
	.ventajas-contenido h2{font-size: 22px;}
	.ventajas-contenido ul>li{
		background-position: left 14px;
		padding: 7px 10px 7px 20px; 
		font-size: 16px;
	}
	.scrolldown-comprende {margin: 0 0px 0 -80px;}
}
@media(min-width: 1400px){
	#portada{height: 600px;}
	.portada-servicios-corte{height: 60px}
	.portada-contenido{padding: 280px 0 0 0;}
}
@media(min-width: 1600px){
	.ventajas-contenido{padding: 100px 40px 120px 40px;}
}

/* MÃ¡s Servicios */
#mas-servicios h2{padding: 0 0 15px 0;}
#mas-servicios h2:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: calc(50% - 35px);
	width: 70px;
	height: 3px;
	background: rgb(205,205,205);
}
.mas-servicios{
	position: relative;
	display: block;
	overflow: hidden;
}
.mas-servicios:before{
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(31,47,63,0.6);
	-webkit-mix-blend-mode: multiply;
	-moz-mix-blend-mode: multiply;
	-ms-mix-blend-mode: multiply;
	-o-mix-blend-mode: multiply;
	mix-blend-mode: multiply;
}
.mas-servicios img{
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}
.mas-servicios h3{
	z-index: 1;
    margin: 0;
    color: rgb(255,255,255);
    text-align: center;
}
.mas-servicios span.btn-al {
    position: absolute;
    z-index: 1;
}
.mas-servicios:hover span.btn-al.btn-al-blanco,
.mas-servicios span.btn-al.btn-al-blanco:hover{
	background: rgb(114, 143, 154);
	color: rgb(255,255,255);
	border: solid 1px rgb(114, 143, 154);
}
.mas-servicios:hover img {
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
}
#mas-servicios.secciones .carrusel-mas-servicios.owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 5px;
    background: rgb(137,152,147);
    border-radius: 0px;
}
#mas-servicios.secciones .carrusel-mas-servicios.owl-theme .owl-dots .owl-dot.active span,
#mas-servicios.secciones .carrusel-mas-servicios.owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(0,170,241);
}
#mas-servicios.secciones .servicio-activo{display: none;}

@media(min-width: 0px){
	#mas-servicios h2{font-size: 21px;}
	.mas-servicios-desktop{display: none;}
	.mas-servicios-movil{display: block;padding: 0;}
	.mas-servicios{
		max-width: 320px;
	    height: 200px;
	    margin: 0 auto;
	}
	#mas-servicios .col-sm-6 {width: 50%;}
	#mas-servicios .col-md-3 {
	    display: block;
	    float: left;
	}
	.mas-servicios h3{
	    padding: 80px 15px 0 15px;
	    font-size: 16px;
	}
	.mas-servicios span.btn-al {
	    bottom: 30px;
	    left: calc(50% - 60px);
	}
}
@media(min-width: 768px){
	#mas-servicios h2{font-size: 26px;}
	.mas-servicios-desktop{display: block;}
	.mas-servicios-movil{display: none;}
	.mas-servicios{
		max-width: 270px;
	    height: 200px;
	    margin: 15px auto;
	}
	.mas-servicios h3{
	    padding: 80px 15px 0 15px;
	    font-size: 16px;
	}
	.mas-servicios span.btn-al {
	    bottom: 30px;
	    left: calc(50% - 70px);
	}
}
@media(min-width: 992px){
	#mas-servicios h2{font-size: 32px;}
	.mas-servicios{
		height: 150px;
		margin: 15px 0;
	}
	#mas-servicios .col-md-3 {
	    display: inline-block;
	    float: inherit;
	    width: 24%;
	}
	.mas-servicios h3{
	    padding: 50px 15px 0 15px;
    	font-size: 12px;
	}
	.mas-servicios span.btn-al {
	    bottom: 30px;
	    left: calc(50% - 70px);
	}
	.mas-servicios span.btn-al.btn-al-blanco{font-size: 10px;}
}
@media(min-width: 1200px){
	#mas-servicios h2{font-size: 36px;}
	.mas-servicios{
		height: 200px;
		margin: 15px 0;
	}
	.mas-servicios h3{
	    padding: 80px 15px 0 15px;
	    font-size: 16px;
	}
	.mas-servicios span.btn-al {
	    bottom: 30px;
	    left: calc(50% - 70px);
	}
	.mas-servicios span.btn-al.btn-al-blanco{font-size: 11px;}
}

/********************************** NOTICIAS *********************************/
.noticia-titulo{margin: 20px 0;}
.noticia-titulo h1{
	padding: 0;
	color: rgb(82,88,95);
	text-align: left;
	line-height: 140%;
	text-transform: inherit;
}
.noticia-titulo h1:after{
	background: transparent;
}
.carrusel-noticia,.carrusel-noticia .owl-stage-outer,
.carrusel-noticia .owl-stage,.carrusel-noticia .owl-item,
.carrusel-noticia .item{
	height: 100%;
}

/* Personalizamos las flechas de navegaciÃ³n */
.carrusel-noticia.owl-theme .owl-nav>div{
	position: absolute;
	margin: 0;
	background-color: rgba(0,0,0,0.4);
	text-indent:-666em;
    overflow:hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.carrusel-noticia.owl-theme .owl-nav>div:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.carrusel-noticia.owl-theme .owl-nav>div:hover:after{
	-webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
}
.carrusel-noticia.owl-theme .owl-nav>div.owl-next:after{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.carrusel-noticia.owl-theme .owl-nav>div:hover{background-color: rgba(0,0,0,0.8);}
.carrusel-noticia.owl-theme .owl-nav .owl-prev{left: 0;}
.carrusel-noticia.owl-theme .owl-nav .owl-next{right: 0;}

/* Personalizamos los puntos de paginaciÃ³n */
.carrusel-noticia.owl-theme .owl-dots{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}
.carrusel-noticia.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 5px;
    background: rgb(255,255,255);
    border-radius: 0px;
}
.carrusel-noticia.owl-theme .owl-dots .owl-dot.active span,
.carrusel-noticia.owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(0,170,241);
}
.carrusel-noticia:after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    
    background-repeat: repeat-x;
    background-position:  center top;
    background-size: 100% 100%;
    z-index: 0;
    mix-blend-mode: multiply;
}
.noticia-fecha{font-weight: bold;margin: 30px 0 0 0;}
.noticia-fecha span{margin: 0 5px 0 0;}
.noticia-cuerpo{margin: 20px 0 60px 0;}
.noticia-cuerpo p{
    margin: 15px 0 25px 0;
	text-align: left;
    line-height: 170%;
}

@media(min-width: 0px){
	.noticia-titulo h1{
		margin: 50px 0 20px 0;
    	font-size: 16px;
	}
	.noticia-galeria{
		max-width: 400px;
	    height: 190px;
	    margin: 0 auto;
	}
	.carrusel-noticia.owl-theme .owl-nav>div{
		top: calc(50% - 20px);
		width: 40px;
		height: 40px;
	}
	.carrusel-noticia.owl-theme .owl-nav>div:after{background-size: 15px auto;}
	.carrusel-noticia.owl-theme .owl-dots{bottom: 5px;}
	.carrusel-noticia:after {height: 30px;}
	.noticia-cuerpo p,.noticia-cuerpo ul{font-size: 16px;}
	.noticia-cuerpo img {width: 100%;height: auto;}
}
@media(min-width: 768px){
	.noticia-titulo h1{
		margin: 70px 0 40px 0;
		font-size: 24px;
	}
	.noticia-galeria{max-width: 100%;height: 450px;}
	.carrusel-noticia.owl-theme .owl-nav>div{
		top: calc(50% - 30px);
		width: 60px;
		height: 60px;
	}
	.carrusel-noticia.owl-theme .owl-nav>div:after{background-size: 20px auto;}
	.carrusel-noticia.owl-theme .owl-dots{bottom: 10px;}
	.carrusel-noticia:after {height: 50px;}
	.noticia-cuerpo img {width: auto;max-width: 100%;}
}
@media(min-width: 992px){
	.noticia-titulo h1{
		margin: 70px 0 40px 0;
		font-size: 28px;
	}
	.noticia-galeria{height: 500px;}
	.carrusel-noticia.owl-theme .owl-dots{bottom: 15px;}
	.carrusel-noticia:after {height: 60px;}
	.noticia-cuerpo p,.noticia-cuerpo ul{font-size: 18px;}
}
@media(min-width: 1200px){
	.noticia-titulo h1{
		margin: 70px 0 40px 0;
		font-size: 30px;
	}
	.noticia-galeria{height: 600px;}
	.carrusel-noticia.owl-theme .owl-dots{bottom: 20px;}
	.carrusel-noticia:after {height: 80px;}
}

/****************************** BOLSA LABORAL *****************************/
#bolsa>.container>h1{margin-bottom: 50px;}
.bolsa-oferta{
	background-color: rgb(238,241,243);
    margin: 15px auto;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.bolsa-oferta:hover {
	background-color: rgba(238,241,243,0.7);
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
}
.bolsa-titulo{
	position: relative;
	display: block;
	padding: 15px;
	background-color: rgb(60,57,80);
	text-align: left;
}
.bolsa-titulo:after{
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	margin-bottom: -4px;
	background-color: rgb(0,170,241);
	width: 100%;
	height: 4px;
	left: 0;
	bottom: 0;
}
.bolsa-titulo>span{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    color: rgb(255,255,255);
    font-size: 17px;
    margin: 0 10px 0 0;
}
.bolsa-titulo>h3{
	display: inline-block;
    vertical-align: middle;
    width: calc(100% - 30px);
    margin: 0;
    padding: 0;
    color: rgb(255,255,255);
    font-weight: 600;
    line-height: 100%;
    text-transform: inherit;
}
.bolsa-cuerpo{
	position: relative;
	display: block;
	padding: 25px;
	color: rgb(130,132,138);
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.bolsa-cuerpo>p{
	margin: 10px 0;
    font-size: 14px;
    text-align: left;
    overflow-y: auto;
}
.bolsa-fecha{
	position: relative;
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	text-align: left;
	font-size: 14px;
    color: rgb(130,132,138);
}
.bolsa-fecha:after{
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	background-color: rgb(0,170,241);
	width: 30px;
	height: 2px;
	left: 0;
	bottom: 0;
}
.bolsa-fecha>strong{
	color: rgb(0,170,241);
}
/* Para el formulario de Registro a la Bolsa Laboral */
.formulario>.container>h2{
	padding: 0 0 15px 0;
	text-align: center;
}
.formulario>.container>h2:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: calc(50% - 20px);
	width: 40px;
	height: 3px;
	background: rgb(0,170,241);
}
.formulario form .form-group label{
	font-size: 13px;
	font-weight: normal;
	color: rgb(62,57,82);
	height: 50px;
    line-height: 35px;
}
.formulario form input, .formulario form select, .formulario form textarea {
	border-color: rgb(243,243,243);
    padding: 10px;
}
.formulario .has-error .form-control{border-color: rgb(217,83,79);}
.formulario .has-error .control-label,.formulario .has-error .help-block ul{color: rgb(217,83,79);}
.formulario form input, .formulario form select {
    height: 50px;
}
.formulario label.checkbox,.formulario label.radio {
    height: 50px;
    line-height: 57px;
}
.formulario .form-horizontal .checkbox,
.formulario .form-horizontal .checkbox-inline,
.formulario .form-horizontal .radio,
.formulario .form-horizontal .radio-inline {
    padding-top: 0;
    padding-left: 25px;
    line-height: 58px;
}
.mensaje-obligatorio{
	margin: 10px 0 30px 0;
	color: rgb(216,82,77);
	font-size: 14px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    height: 50px;
    line-height: 30px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.formulario .ico-form-space{padding-right: 30px;}
.formulario .ico-form{position: relative;display: inline-block;width: 100%;}
.formulario .ico-form:after{
	content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.envio-satisfactorio h3{text-transform: inherit;}
.envio-satisfactorio p{color: rgb(185,185,194);}
/* Formateamos las columnas */
.formulario .col-lg-1, .formulario .col-lg-10, .formulario .col-lg-11, .formulario .col-lg-12, .formulario .col-lg-2, 
.formulario .col-lg-3, .formulario .col-lg-4, .formulario .col-lg-5, .formulario .col-lg-6, .formulario .col-lg-7, 
.formulario .col-lg-8, .formulario .col-lg-9, .formulario .col-md-1, .formulario .col-md-10, .formulario .col-md-11, 
.formulario .col-md-12, .formulario .col-md-2, .formulario .col-md-3, .formulario .col-md-4, .formulario .col-md-5, 
.formulario .col-md-6, .formulario .col-md-7, .formulario .col-md-8, .formulario .col-md-9, .formulario .col-sm-1, 
.formulario .col-sm-10, .formulario .col-sm-11, .formulario .col-sm-12, .formulario .col-sm-2, .formulario .col-sm-3, 
.formulario .col-sm-4, .formulario .col-sm-5, .formulario .col-sm-6, .formulario .col-sm-7, .formulario .col-sm-8, 
.formulario .col-sm-9, .formulario .col-xs-1, .formulario .col-xs-10, .formulario .col-xs-11, .formulario .col-xs-12, 
.formulario .col-xs-2, .formulario .col-xs-3, .formulario .col-xs-4, .formulario .col-xs-5, .formulario .col-xs-6, 
.formulario .col-xs-7, .formulario .col-xs-8, .formulario .col-xs-9 {
    padding-right: 12px;
    padding-left: 12px;
}
.form-bloques{
    float: left;
    width: 100%;
}
.form-bloques a{

}
.form-bloques h2{
	padding: 0 0 10px 0;
	color: rgba(33,33,33,.3);
	text-transform: inherit;
	cursor: pointer;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.form-bloques h2:hover{color: rgb(33,33,33);}
.form-bloques h2:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: rgba(0,170,241,0);
}
.form-bloque-izq h2{float: right;}
.form-bloque-der h2{float: left;}
.form-bloques .activo h2{color: rgb(33,33,33);}
.form-bloques .activo h2:after{background: rgb(0,170,241);}
.tabs-form-content{
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.tab-form-content{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.tab-form-content.tfc1{left: -100%;}
.tab-form-content.tfc1.activo{left: 0%;}
.tab-form-content.tfc2{left: 100%;}
.tab-form-content.tfc2.activo{left: 0%;}
#cotizar-form .btn-al-rojo{background-color: rgba(0,0,0,0);}
#cotizar-form .btn-al-rojo:hover,#cotizar-form .btn-al-rojo:focus,#cotizar-form .btn-al-rojo:active{background-color: rgb(217,83,79);}
#cotizacion-ant-part2 .ico-atras{float: none;}
#cotizar-form .ico-adelante{margin-top: 0;}

@media(min-width: 0px){
	.bolsa-titulo>h3{font-size: 15px;}
	.bolsa-oferta{max-width: 350px;height: auto;}
	.bolsa-cuerpo>p{max-height: auto;}
	.btn-bolsa {
	    position: relative;
	    bottom: 15px;
	    left: inherit;
	    min-width: auto;
	}
	.formulario form button{min-width: auto;}
	.formulario>.container>h2{margin-bottom: 20px;font-size: 14px;}
	.envio-satisfactorio{margin: 50px 0;}
	.envio-satisfactorio h3{font-size: 21px;}
	.envio-satisfactorio p{font-size: 14px;}
	.form-bloques{margin: 0 0 20px 0;}
	.form-bloques h2{font-size: 14px;}
	.formulario .col-sm-4,.formulario .col-sm-6,.formulario .col-sm-8,.formulario .col-sm-12 {
	    width: 100%;
	    float: left;
	}
	.tfc1-alto{height: 1010px;}
	.tfc2-alto{height: 650px;}
	.tfc2-alto2{height: 1490px;}
	.tfc2-alto3{height: 1280px;}
	.form-horizontal .control-label{text-align: left;}
	label{display: block;}
}
@media(min-width: 768px){
	.bolsa-oferta{max-width: 100%;height: 250px;}
	.bolsa-titulo>h3{font-size: 17px;}
	.bolsa-cuerpo>p{max-height: 60px;}
	.btn-bolsa {
	    position: absolute;
	    bottom: 30px;
	    left: calc(50% - 90px);
	    min-width: 180px;
	}
	.formulario form button,.formulario form .btn-al{min-width: 150px;}
	.formulario form .ico-adelante {margin: 0;}
	.formulario>.container>h2{font-size: 18px;}
	.envio-satisfactorio{margin: 70px 0;}
	.envio-satisfactorio h3{font-size: 28px;}
	.envio-satisfactorio p{font-size: 18px;}
	.form-bloques{margin: 0 0 30px 0;}
	.form-bloques h2{font-size: 16px;}
	.formulario .col-sm-4{width: 33.33333333%;}
	.formulario .col-sm-6{width: 50%;}
	.formulario .col-sm-8{width: 66.66666667%;}
	.tfc1-alto{height: 450px;}
	.tfc2-alto{height: 630px;}
	.tfc2-alto2{height: 890px;}
	.tfc2-alto3{height: 890px;}
}
@media(min-width: 992px){
	.bolsa-titulo>h3{font-size: 15px;}
	.formulario>.container>h2{margin-bottom: 30px;font-size: 22px;}
	.envio-satisfactorio h3{font-size: 32px;}
	.envio-satisfactorio p{font-size: 20px;}
	.form-bloques{margin: 0 0 50px 0;}
	.form-bloques h2{font-size: 20px;}
	.formulario .col-md-3{width: 25%;}
	.formulario .col-md-4{width: 33.33333333%;}
	.formulario .col-md-5 {width: 41.66666667%;}
	.tfc1-alto{height: 300px;}
	.tfc2-alto{height: 480px;}
	.tfc2-alto2{height: 700px;}
	.tfc2-alto3{height: 700px;}
	.form-horizontal .control-label{text-align: right;}
	label{display: inline-block;}
}
@media(min-width: 1200px){
	.bolsa-oferta{height: 260px;}
	.bolsa-titulo>h3{font-size: 17px;}
	.formulario>.container>h2{font-size: 26px;}
	.envio-satisfactorio{margin: 100px 0;}
	.envio-satisfactorio h3{font-size: 36px;}
	.formulario .col-lg-5{width: 41.66666667%;}
	.tfc1-alto{height: 310px;}
	.tfc2-alto{height: 490px;}
	.tfc2-alto2{height: 700px;}
	.tfc2-alto3{height: 700px;}
}

/******************************* NOSOTROS ****************************/
.nosotros .row{
	margin: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.nosotros .row > [class*='col-']{
	display: flex;
  	flex-direction: column;
}
.nosotros h2{padding: 0 0 10px 0;}
.nosotros h2:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: calc(50% - 25px);
	width: 50px;
	height: 3px;
	background: rgb(0,170,241);
}
.nosotros p{margin: 30px 0;text-align: justify;}
.nosotros ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}
.nosotros ul li {
    
    background-repeat: no-repeat;
    background-position: left 11px;
    margin: 0;
    padding: 0 0 0 20px;
    text-align: left;
}
.historia-texto{
	margin: 0 auto;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.mision-texto,.vision-texto{
	margin: 0 auto;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.valores-texto{
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
#gerente{

	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: rgb(255,255,255);
	-webkit-text-shadow: 0px 4px 10px rgba(0,0,0,0.8);
	-moz-text-shadow: 0px 4px 10px rgba(0,0,0,0.8);
	-ms-text-shadow: 0px 4px 10px rgba(0,0,0,0.8);
	-o-text-shadow: 0px 4px 10px rgba(0,0,0,0.8);
	text-shadow: 0px 4px 10px rgba(0,0,0,0.8);
}
.gerente-foto{
	margin: 0 auto;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
#gerente h3{
	font-size: 16px;
	text-transform: inherit;
	color: rgb(255,255,255);
}
#gerente span{
    display: block;
    font-weight: 600;
    color: rgb(0,170,241);
}
#gerente .cargo{
	font-family: "Lato",Arial;
    display: block;
    font-weight: 600;
    font-style: normal;
    color: rgb(0,170,241);
}
#gerente p{
	font-style: italic;
	font-family: Georgia,Times New Roman, Arial;
}
.gerente {
    background-color: rgba(28,35,55,0.7);
    padding: 30px;
}

@media(min-width: 0px){
	.nosotros .row{display: block;}
	.nosotros .col-md-6{width: 100%;}
	.nosotros .col-sm-6{width: 100%;}
	.nosotros h2{font-size: 21px;}
	.historia-texto{max-width: 100%;padding: 30px;}
	.mision-texto,.vision-texto{max-width: 100%;}
	.mision-texto{padding: 30px 30px 0 30px;}
	.vision-texto{padding: 0 30px 30px 30px;}
	.valores-texto ul{margin: 0;}
	.valores-texto ul li{font-size: 16px;padding: 0 0 0 20px;}
	.valores-texto{padding: 30px;display: inline-block;}
	#gerente{padding: 40px 0 30px 0;}
	.gerente-foto{
		width: 120px;
		height: 120px;
	}
	#gerente span{margin: -5px 0 20px 0;font-size: 12px;}
	#gerente .cargo{margin: -5px 0 0 0;font-size: 12px;}
	#gerente p{font-size: 14px;line-height: 150%;}
}
@media(min-width: 768px){
	.nosotros .col-sm-6{width: 50%;}
	.nosotros h2{font-size: 28px;}
	.historia-texto{max-width: 700px}
	.mision-texto{padding: 50px 25px 50px 50px;}
	.vision-texto{padding: 50px 50px 50px 25px;}
	.valores-texto ul{margin: 20px;}
	.valores-texto ul li{font-size: 18px;padding: 0 0 10px 20px;}
	.valores-texto{padding: 50px;}
	#gerente{padding: 90px 0;background-position: center center;}
}
@media(min-width: 992px){
	.nosotros .row{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.nosotros .row > [class*='col-']{
		display: flex;
	  	flex-direction: column;
	}
	.nosotros .col-md-6{width: 50%;}
	.nosotros .col-md-3{width: 25%;}
	.nosotros h2{font-size: 32px;}
	.historia-texto{padding: 50px;}
	.mision-texto,.vision-texto{max-width: 400px;}
	.valores-texto ul li{font-size: 20px;padding: 0 0 12px 20px;}
	#gerente{padding: 120px 0;}
	.gerente-foto{
		width: 150px;
		height: 150px;
	}
	#gerente span{margin: -5px 0 30px 0;}
	#gerente .cargo{margin: -5px 0 0 0;}
	#gerente p{font-size: 18px;}
}
@media(min-width: 1200px){
	.nosotros h2{font-size: 36px;}
	.valores-texto ul li{font-size: 22px;padding: 0 0 15px 20px;}
	#gerente{padding: 200px 0;}
	#gerente p{font-size: 22px;}
}
@media(min-width: 1600px){
	.historia-texto{padding: 100px 50px;}
	.mision-texto{padding: 100px 25px 100px 50px;}
	.vision-texto{padding: 100px 50px 100px 25px;}
	.valores-texto{padding: 100px 50px;}
	#gerente{padding: 260px 0;}
}

/****************************** CLIENTES ****************************/
.cliente{
	display: table;
	width: 100%;
}
.cliente-logo{
	position: relative;
	display: table-cell;
	padding: 15px;
	vertical-align: middle;
	overflow: hidden;
}
.cliente-logo>img{
	width: 100%;
	max-width: 210px;
	max-height: 115px;
}
.cliente-logo:hover .cliente-url{
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
.cliente-url{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(9,11,17,0.8);
	color: rgb(255,255,255);
	font-family: "Montserrat",Arial;
	text-align: center;
	-webkit-transform: translateY(190px);
	-ms-transform: translateY(190px);
	-o-transform: translateY(190px);
	transform: translateY(190px);
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
.cliente-url>img{display: block;}
.cliente-url>span{display: block;margin: 5px 0 0 0;}

@media(min-width: 0px){
	.cliente{height: 120px;}
	.cliente-url{font-size: 11px;}
	.cliente-url>img{margin: 30px auto 0 auto;}
	
}
@media(min-width: 768px){
	.cliente{height: 140px;}
	.cliente-url{font-size: 12px;}
	.cliente-url>img{margin: 40px auto 0 auto;}
	
}
@media(min-width: 992px){
	.cliente{height: 170px;}
	.cliente-url{font-size: 14px;}
	.cliente-url>img{margin: 60px auto 0 auto;}
	
}
@media(min-width: 1200px){
	#clientes .col-lg-v{width: 20%;}
	.cliente{height: 190px;}
	.cliente-url>img{margin: 70px auto 0 auto;}
}

/* Estilos para ContÃ¡ctenos */
#contacto-mapa {
	position: relative;
    padding: 0px;
}
.mapa{background-color:rgb(229,227,223);}
#google_canvas {
	width: 100%;
    height: 100%;
}
.contacto-mapa-contenido{background-color: rgba(30,32,45,0.95);}
.contacto-mapa-contenido h1{margin: 0;color: rgb(255,255,255);}
.contacto-mapa-contenido h2{padding: 0 0 10px 0;color: rgb(0,170,241);}
.contacto-mapa-contenido h2:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 40px;
	height: 2px;
	background: rgb(0,170,241);
}
.contacto-mapa-contenido ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.contacto-mapa-contenido ul li{
	padding: 7px 0 7px 30px;
    color: rgb(255,255,255);
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: 0px 6px;
}
.contacto-mapa-contenido ul li a{color: rgb(0,170,241);}


@media(min-width:0px) {
	#contacto-mapa{height: auto;}
    .mapa {
    	position: relative;
    	width: 100%;
    	height: 400px;
    }
    .contacto-mapa-contenido{
    	position: relative;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    padding: 25px;
	}
	.contacto-mapa-contenido h1{font-size: 24px;}
	.contacto-mapa-contenido h2{font-size: 12px;}
}
@media(min-width:768px) {
	#contacto-mapa{height: 500px;}
	.mapa{
		position: absolute;
		top: 0;
		left: 0;
	    width: 100%;
	    height: 500px;
	}
	.contacto-mapa-contenido{
		position: absolute;
	    bottom: 30px;
	    left: 30px;
	    width: 330px;
	    padding: 25px;
	}
	.contacto-mapa-contenido h1{font-size: 30px;}
	.contacto-mapa-contenido h2{font-size: 14px;}
}
@media(min-width:992px) {
	#contacto-mapa{height: 650px;}
    .mapa {height: 650px;}
    .contacto-mapa-contenido{
	    bottom: 50px;
	    left: 50px;
	    width: 340px;
	    padding: 25px;
	}
	.contacto-mapa-contenido h1{font-size: 36px;}
	.contacto-mapa-contenido h2{font-size: 16px;}
}
@media(min-width:1600px){
	.contacto-mapa-contenido{
	    bottom: 90px;
	    left: 120px;
	}
}

/****************************** MODAL ****************************/

body.modal-open {padding: 0 !important;}
#myModal{
  max-width: 500px;
  min-height: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: justify;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.modal-content {padding: 20px;}
.modal-content h2{margin: 0;}
.modal-content h2 img{width: 200px;}
.modal-content .btn{
  font-family: "Titillium Web";
  font-size: 15px;
  text-transform: uppercase;
  border-top: rgb(13,153,213) solid 5px;
  color: rgb(255,255,255);
  text-decoration: none;
  padding: 10px 30px;
}
.modal-content .btn:hover{color: rgb(255,255,255);}
.modal-content .btn:active, .modal-content .btn:focus{color: rgb(13,153,213);}
.modal-content button.close{
  position: absolute;
  right: 10px;
  top: 10px;
}
@media(min-width: 0px){
  .modal-content h4{font-size: 14px;}
  .modal-content p{font-size: 12px;}
}
@media(min-width: 768px){
  .modal-content h4{font-size: 20px;}
  .modal-content p{font-size: 14px;}
}

/****************************** FORMULARIO DE COTIZACIÃ“N ******************************/

.servicio-opciones,.servicio-opciones2{
    position: relative;
    background-color: rgb(213,235,245);
    border-radius: 5px;
}
.servicio-opciones:before,.servicio-opciones2:before{
    position: absolute;
    top: -7px;
    left: calc(50% - 4px);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(213,235,245);
}
.via-configuracion{
    position: relative;
    padding-top: 15px;
    background-color: rgb(213,235,245);
    border-radius: 5px;
}
.via-configuracion:before{
    position: absolute;
    top: -7px;
    left: calc(50% - 4px);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(213,235,245);
}
.lugar-opciones.mostrar{
    clear: both;
}
.separador-bottom{margin-bottom: 15px;overflow: hidden;}
.carga{
    position: relative;
    margin: 15px;
    padding: 10px 0 0 0;
    border: solid 1px rgb(0,170,241);
    border-radius: 5px;
}
.carga:before{
    position: absolute;
    top: -10px;
    left: 9px;
    padding: 0px 5px;
    background-color: rgb(213,235,245);
    color: rgb(0,170,241);
    font-size: 12px;
}
.c1:before{content: "Contenedor 1"}
.c2:before{content: "Contenedor 2"}
.c3:before{content: "Contenedor 3"}
.c4:before{content: "Contenedor 4"}
.c5:before{content: "Contenedor 5"}
.c6:before{content: "Contenedor 6"}
.c7:before{content: "Contenedor 7"}
.c8:before{content: "Contenedor 8"}
.c9:before{content: "Contenedor 9"}
.c10:before{content: "Contenedor 10"}
.b1:before{content: "Bulto 1"}
.b2:before{content: "Bulto 2"}
.b3:before{content: "Bulto 3"}
.b4:before{content: "Bulto 4"}
.b5:before{content: "Bulto 5"}
.b6:before{content: "Bulto 6"}
.b7:before{content: "Bulto 7"}
.b8:before{content: "Bulto 8"}
.b9:before{content: "Bulto 9"}
.b10:before{content: "Bulto 10"}

@media(min-width: 0px){
	.checkbox.float-right{float: initial;}
}
@media(min-width: 992px){
	.checkbox.float-right{float: right;}
}


.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1200px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}