.img-wallpaper-min {
    max-width: 60px;
    height: 60px;
    border-radius: 50em;
}

.page-selector {
  cursor: pointer;
}

.customer-danger{
  background-color: #f86c6b;
}
.customer-success{
  background-color: #96ff8c;
}
.customer-warning{
  background-color: #f9fc6f;
}